@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Garantindo que o body ocupe 100% da altura da tela */
  html, body {
    height: 100%; /* Garantir que o corpo ocupe 100% da altura da tela */
    background-color: black;
    
   
  }
  
  /* Este estilo garante que o body ocupe toda a altura disponível */
  body {
    min-height: 100%; /* Garantindo que ocupe pelo menos 100% da altura da tela */
  }
  
  /* Ajustando o conteúdo centralizado dentro do body */
  footer{
    max-width: 100%;
    min-width: 100%;
    background-color: #333333;
  }